body {
  background-color: #850d0d;
  font-family: 'Luckiest Guy', cursive;
  font-size: 9px;
}

path {
  fill: transparent;
}

text {
  fill: #F5E70F;}

 #circle1 { 
position: relative;
    left: 490px;
    top: -1500px;
width: 745px;
height: 520px;
background: #006400;
border-radius: 50%;
}

 #circle2 { 
position: relative;
left: 21px;
top: 14px;
width: 703px;
height: 490px;
background: #008000;
border-radius: 50%;
z-index: 3;
}

 #circle3 { 
position: relative;
left: 43px;
top: -459px;
width: 658px;
height: 453px;
background: #29c914;
border-radius: 50%;
z-index: 4;
}

 #circle4 { 
position: relative;
left: 56px;
top: -904px;
width: 633px;
height: 437px;
background: #7CFC00;
border-radius: 50%;
z-index: 5;}

 #circle5 { 
position: relative;
left: 72px;
top: -1328px;
width: 603px;
height: 410px;
background: #7FFF00;
border-radius: 50%;
z-index: 6;}

 #circle6 { 
position: relative;
left: 84px;
top: -1727px;
width: 580px;
height: 390px;
background: #ADFF2F;
border-radius: 50%;
z-index: 7;
}

 #circle7 { 
position: relative;
left: 271px;
top: -2002px;
width: 200px;
height: 150px;
background: #8B4513;
border-radius: 50%;
z-index: 8;
box-shadow: 1px 1px 7px #81350c;
}