

.left {
position: relative;
top: 300px;
left: 0px;
margin-right: 5px;
margin-left: 35px;
z-index: 2;
}

.right {
position: relative;
top: 282px;
right: -667px;
margin-right: 35px;
margin-left: 5px;
z-index: 2;
}

.colorleft {
position: absolute;
    height: 1000px;
    width: 2000px;
    background-color: yellow;
    left: 0px;
    top: 0px;
}

.colorright {
position: relative;

height: 1000px;

width: 1000px;

background-color: green;

left: 1000px;
}
