  * {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

#body {

      width: 130px;
      height: 120px;
      background: black;
      border-radius: 50%;
      position: absolute;
      top: 300px;
      left: 369px;
    }
 
#body2 {

      width: 113px;
      height: 100px;
      background: white;
      border-radius: 50%;
      position: relative;
      top: 18px;
      left: 9px; 
      border: solid 1px black;
    }

.feet{
      position: relative;
}
    
.foot1{
      position: relative;
      width: 50px;
      height: 40px;
      background: #FF8C00;
      border-radius: 50%;
      left: 65px;
      top: -2px;
} 
    
.foot2{
      position: relative;
      width: 50px;
      height: 40px;
      background: #FF8C00;
      border-radius: 50%;
      left: 14px;
      top: -42px;
}

#face {
      position: absolute;
      width: 100px;
      height: 90px;
      top: 13px;
      left: -360px;
}
    #face:before,
    #face:after {
      position: absolute;
      content: "";
      left: 410px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #ffffff;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
}
    #face:after {
      left: 360px;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
}

.eyes{  
      width: 15px;
      height: 15px;
      background: black;
      border-radius: 50%
}


#eye1 {
position: relative;
left: 423px;
top: 13px;
z-index: 5;

}

#eye2 {
position: relative;
left: 378px;
z-index: 5;
}

#head {

      width: 100px;
      height: 100px;
      background: black;
      border-radius: 50%;
      position: absolute;

      top: 230px;
      left: 384px;
    }

 #beak { 
  width: 0; 
  height: 0;
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-top: 25px solid #FF8C00; 
  position: absolute;
  z-index: 6;
  left: 40px;
  top: 51px;

       } 

.arms {
	background: black;
      border-radius: 50%;
      position: relative;
      }

.arms1 {
width: 50px;
      height: 100px;
      top: 284px;
      left: 466px;
      transform: rotate(140deg);
}
.arms2 {
width: 50px;
      height: 100px;
      top: 185px;
      left: 350px;
      transform: rotate(40deg)
}

.canvas2 {
  width: 900px;
  height: 556px;
  margin: 100px auto;
  background: white;
  position: relative;
}

.ground {
 width: 900px; 
 height: 150px; 
 background: #8B4513;
 position: absolute;
 bottom: 0px;
}

.sky { 
    position: absolute;
    top: 0px;
    width: 100%;
    height: 406px;
    background: #00BFFF;
 }
.stem {
 width: 10px; 
 height: 150px; 
 background: green;
 position: relative;
 left: 500px;
 bottom: 150px;
 z-index: 1;
}

 .circle { 
position: absolute;
width: 75px;
height: 75px;
background: #591400;
border-radius: 50%;
bottom: 149px;
left: -32px; 
z-index: 10;
}

 .petals { 
  position: relative;
  width: 75px; 
  height: 70px; 
  background: yellow; 
  border-radius: 50px / 60px; 
}

.petal1 {
    bottom: 72px;
left: 10px;
}
.petal2 {
    bottom: 182px;
    left: -29px;
}
.petal3 {
    bottom: 213px;
    left: -70px;
}
.petal4 {
    bottom: 242px;
    left: -31px;
}

 #burst-12 { 
  background: #fff515; 
  width: 80px; 
  height: 80px;
  position: relative; 
  text-align: center; 
  z-index: 11;
   } 
 #burst-12:before, 
 #burst-12:after { 
    content: ""; position: absolute; 
    top: 0; left: 0; 
    height: 80px; 
    width: 80px; 
    background: #fff515; 
    } 
#burst-12:before { transform: rotate(30deg); } 
#burst-12:after { transform: rotate(60deg); }








.sun {
  position: relative;
  width: 75px; 
  height: 75px; 
  background: yellow; 
  border-radius: 50px;
    bottom: 61px;
    left: 28px;
}
