  * {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
}

#body {

      width: 130px;
      height: 120px;
      background: black;
      border-radius: 50%;
      position: absolute;
      top: 300px;
      left: 369px;}
 
 #body2 {

      width: 113px;
      height: 100px;
      background: white;
      border-radius: 50%;
      position: relative;
      top: 18px;
      left: 9px; 
      border: solid 1px black;}

    .feet{
      position: relative;


      }
    .foot1{
      position: relative;
      width: 30px;
      height: 20px;
      background: black;
      border-radius: 50%
    
      } 
    
    .foot2{
      position: relative;
      width: 30px;
      height: 20px;
      background: black;
      border-radius: 50%
      }

   #face {
      position: absolute;
      width: 100px;
      height: 90px;
      top: 13px;
      left: -360px;
    }
    #face:before,
    #face:after {
      position: absolute;
      content: "";
      left: 410px;
      top: 0;
      width: 50px;
      height: 80px;
      background: #ffffff;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%;
    }
    #face:after {
      left: 360px;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }

.eyes{  
      width: 15px;
      height: 15px;
      background: black;
      border-radius: 50%
    }


#eye1 {
position: relative;
left: 423px;
top: 13px;
z-index: 5;

}

#eye2 {
position: relative;
left: 378px;
z-index: 5;
}

#head {

      width: 100px;
      height: 100px;
      background: black;
      border-radius: 50%;
      position: absolute;

      top: 230px;
      left: 384px;}

.arms {
	background: black;
      border-radius: 50%;
      position: relative;
      }

.arms1 {
width: 50px;
      height: 100px;
      top: 284px;
      left: 466px;
      transform: rotate(140deg);
}
.arms2 {
width: 50px;
      height: 100px;
      top: 185px;
      left: 350px;
      transform: rotate(40deg)
}
