.p1{
	position: relative;
	left: 1145px;
	top: 345px;


}
.p2{
	position: relative;
	left: 1145px;
	top: 318px;
}
.p3{
	position: relative;
	left: 1145px;
	top: 290px;
}
.p4{
	position: relative;
	left: 1145px;
	top: 262px;
}
.p5{
	position: relative;
	left: 1145px;
	top: 234px;
}
.p6{
	position: relative;
	left: 1145px;
	top: 207px;
}
.p7{
	position: relative;
	left: 1210px;
	top: 177px;
}
	
