.p1{
	
	position: relative;
    left: 1145px;
    top: 300px;
    /*border: 1px solid black;*/
}
.p2{
	
	position: relative;
    left: 1145px;
    top: 325px;
    /*border: 1px solid black;*/
}
.p3{
	
	position: relative;
    left: 1145px;
    top: 350px;
    /*border: 1px solid black;*/
}
.p4{
	
	position: relative;
    left: 1145px;
    top: 375px;
    /*border: 1px solid black;*/
}
.p5{
	
	position: relative;
    left: 1145px;
    top: 400px;
    /*border: 1px solid black;*/
}
.p6{
	
	position: relative;
    left: 1145px;
    top: 425px;
    /*border: 1px solid black;*/
}
.p7{
	
	position: relative;
    left: 1145px;
    top: 450px;
    /*border: 1px solid black;*/
}
.p8{
	
	position: relative;
    left: 1145px;
    top: 475px;
    /*border: 1px solid black;*/
}
.p9{
	
	position: relative;
    left: 1145px;
    top: 500px;
    /*border: 1px solid black;*/
}
.p10{
	
	position: relative;
    left: 1145px;
    top: 525px;
    /*border: 1px solid black;*/
}
.p11{
	
	position: relative;
    left: 1145px;
    top: 550px;
    /*border: 1px solid black;*/
}
.p12{
	
	position: relative;
    left: 1145px;
    top: 575px;
    /*border: 1px solid black;*/
}
.p13{
	
	position: relative;
    left: 1145px;
    top: 600px;
    /*border: 1px solid black;*/
}
.p14{
	
	position: relative;
    left: 1145px;
    top: 625px;
    /*border: 1px solid black;*/
}
.p15{
	
	position: relative;
    left: 1145px;
    top: 650px;
    /*border: 1px solid black;*/
}
.p16{
	
	position: relative;
    left: 1145px;
    top: 675px;
    /*border: 1px solid black;*/
}
.p17{
	
	position: relative;
    left: 1145px;
    top: 700px;
    /*border: 1px solid black;*/
}
.p18{
	
	position: relative;
    left: 1145px;
    top: 725px;
    /*b*/order: 1px solid black;
}