body {
	width: 1280px;
	height: 800px;
	background-color: black; 
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 40px;
}

.line1 {
	color: #2C2C2C;
	text-align: center;
	padding-top: 490px;
	margin-left: 297px;
}

.darkest {
	display: inline;
	text-align: center;
	color: #2C2C2C;
}

.alone {
	color: #2C2C2C;
	position: absolute;
 	padding-top: 300px;
    right: 500px;
    font-size: 20px;
}

hover color #242424