body {
	width: 1280px;
	height: 800px;
	background-color: black; 
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 40px;
}

.line1 {
	color: #3d3d3f;
	padding-top: 420px;
	text-align: center;
	margin-left: 40px;
}

.darkest {
	display: inline;
	text-align: center;
}

.alone {
	color: #3d3d3f;
	position: absolute;
	padding-top: 150px;
	right: 300px;
}