body {
	width: 1500px;
	height: 110000px;
	background-color: black; 
	margin-left: 11vw;
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 50px;
}

.line1 {
	color: #2C2C2C;
	text-align: center;
	padding-top: 42vh;
	margin-left: -24vw; }

.darkest {
	display: inline;
	text-align: center;
	color: #191919;
}

.alone {
	color: #191919;
	position: absolute;
 	margin-left: 65vw;
	margin-top: 16vh;
    font-size: 25px;
}

#hover1:hover { 
text-decoration: none;
color: #232323;
 }

 a:hover { 
text-decoration: none;
color: #232323;
 }
a {
	text-decoration: none;
	color: inherit;
}

hover color #232323

/*#l1b1:hover  .reveal1 {*/
    /*display: block;*/
}
/*#l1b1:hover  {*/
  /*background-color: #ADFF2F;*/
/*}*/