body {
	width: 1500px;
	height: 110000px;
	background-color: black; 
	margin-left: 11vw;
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 40px;
}

.font2 {
	font-family: 'MS Reference Sans Serif';
	font-size: 80px;
}

.wound {
	padding-top: 32vh;
	margin-left: 2vw;
	color: #8B0000;
	text-align: center;
}

.broken {
	display: inline;
	text-align: center;
	color: #2C2C2C;
}

.stand {
	margin-top: 16vh;
	margin-left: 5vw;
	color: white;
	text-align: center;
	letter-spacing: 10px;
}

.tall{
	color: #808080;
	display: inline;
	
}

.tall:hover {
	text-decoration: none;
	color: #939393;
}

 a:hover { 
text-decoration: none;
color: #232323;
 }
a {
	text-decoration: none;
	color: inherit;
}

