body {
	width: 1500px;
	height: 1100px;
	background-color: black; 
	margin-left: 11vw;
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 50px;
}

.line {
	color: #2C2C2C;
	text-align: center;
	padding-top: 27vh;
	margin-left: -49vw;;
 }

.imp {
	display: inline;
	color: #131313;
	font-style: italic;
	font-weight: bold;
}


#hover1:hover { 
text-decoration: none;
color: #232323;
 }

 a:hover { 
text-decoration: none;
/*color: #232323;*/
 }
a {
	text-decoration: none;
	
}