body {
	width: 1500px;
	height: 1100px;
	background-color: black; 
	margin-left: 11vw;
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 50px;
}


.line {
	padding-top: 37vh;
	margin-left: 3vw;
	color: white;
	text-align: center;
}



.stand {
	display: inline;
	color: #ffe975;
}

.vic {
	display: inline;
	color: #ffe975;
}

.last {
	display: inline;
	color: white;
}

.last:hover {
	color: #dbdbdb;
}


 a:hover { 
text-decoration: none;

 }
a {
	text-decoration: none;
	color: inherit;
}



