body {
	width: 1500px;
	height: 1100px;
	background-color: black; 
	margin-left: 11vw;
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 50px;
}

.line {
	color: #ffe975;
	text-align: center;
	padding-top: 27vh;
	margin-left: -62vw;
 }

#hover1:hover { 
text-decoration: none;
color: #ffea91;
 }

 a:hover { 
text-decoration: none;
color: ;
 }
a {
	text-decoration: none;
	color: inherit;
}