body {
	width: 1500px;
	height: 1100px;
	background-color: black; 
	margin-left: 11vw;
}

.font {
	font-family: 'MS Reference Sans Serif';
	font-size: 50px;
}

.line {
	color: #2C2C2C;
	text-align: center;
	padding-top: 42vh;
	margin-left: 2vw; }

.thought {
	
	display: inline;
	color: #131313;
}

.swell {
	display: inline;
	color: #131313;
	font-size: 50px; 
}

#hover1:hover { 
text-decoration: none;
color: #3a3a3a;
 }

#hover2:hover { 
text-decoration: none;
color: #3a3a3a;
 }


 a:hover { 
text-decoration: none;
color: #3a3a3a;
 }
a {
	text-decoration: none;
	color: inherit;
}